{% extends "base.html.twig" %}
{% block title %}
	client en regle
{% endblock %}
{% block body %}
	<div class="titre_page">
		<h2>Liste des clients en attente</h2>
	</div>

	<div class="tableau tab_historique">
		<table class="display" id="tab_client_heb" style="width:100%">
			<thead>
				<tr>
					<td>
						<span>CLIENT</span>
					</td>
					<td>
						<span>CLIENT DE</span>
					</td>
					<td>
						<span>DETAIL DU PAIEMENT</span>
					</td>
					<td>
						<span>POINTAGES</span>
					</td>
					<td>
						<span>ACTIONS</span>
					</td>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td class="td-check">
							<span>Matricule : </span>
							<span class="unite">{{ item.matricule }}</span>
							<br>
							<span>Nom et prénom : </span>
							<span>{{ item.nom }}</span>
							<span>{% if item.prenom is defined %}
								{{ item.prenom }}
							{% endif %}</span>
							<br>
							<span>Budget : </span>
							<span class="unite">{{ item.budget }}</span>
							<br>
							<span>Chapitre : </span>
							<span class="unite">{{ item.chapitre }}</span>
							<br>
							<span>Article : </span>
							<span class="unite">{{ item.article }}</span>

							{% if item.verifier == "oui" %}
								<b class=" check fa fa-check"></b>
							{% else %}
								<b class=" check fa "></b>
							{% endif %}
							<b class=" check check-hide fa fa-check" style="display:none"></b>
						</td>
						<td>
							<span>{{ item.getUser().nom }}</span><br>
							(<span>{{ item.getUser().username }}</span>)
						</td>
						<td>
							<span>Ajouté le : </span><span class="unite">{{ item.getCreatedAt() | date('d-m-Y') }}</span>
							<br>
							<span>N° BL:</span>
							<span class="unite">{{ item.getNumeroBl() }}</span>
							<br>
							<span>MONTANT:</span><b class="unite">{{ item.montant }}</b><b class="unite">Ar</b>
							<br>
							<span>MONTANT MENS:</span><b class="unite">{{ item.getMontantMensuel() }}</b><b class="unite">Ar</b>
							<br>
							<span>NBR VERSEMENT:</span><b class="unite">{{ item.getNbrVersement() }}</b><br>
							<span>DATE DE DEBUT:</span><span class="unite">{{ item.getDateDebut() | date('Y-m-d') }}</span>
							<br>
							<span>DATE DE FIN:</span><span class="unite">{{  item.getDatefin() | date('Y-m-d') }}</span>
							
						</td>
						<td>
							<span>
								{% for p in item.pointages %}
									<span>{{ p.getNomLit() }} </span>par <span>{{ p.getNomUser() }}</span>/
								{% endfor %}
							
							 </span>
						</td>
					<td>
						<div class="action">
							<div>
								<a href="{{ path("edit_client", {"id": item.id }) }}" class="modif btn btn-info btn-xs" {% if is_granted("ROLE_SUPER_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
									<span class="fa fa-edit"></span>
								</a>
								<a href="#" data-id-client = "{{ item.id }}" class="suppr btn btn-danger btn-xs" {% if is_granted("ROLE_SUPER_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
									<span class="fa fa-trash-o"></span>
								</a>
							</div>
							<div>
								<a href="#" data-id-client = "{{ item.id }}" class="verifier btn btn-primary btn-xs" {% if is_granted("ROLE_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
									<span class = "fa fa-check-square-o"></span>
								</a>
								<a href="{{ path('single_page', {'id_client': item.id }) }}" class="voir btn btn-primary btn-xs" {% if is_granted("ROLE_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
									<span>Voir</span>
								</a>
							</div>
							<div class="div__pointer">
									<a href="{{ path('autrepointage', {'id_client': item.id }) }}" data-id-client="{{ item.id }}" class=" btn btn-primary btn-xs" {% if is_granted("ROLE_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
										<span>Pointer</span>
										<span class="fa fa-check"></span>
									</a>
								</div>
						</div>
					</td>

				</tr>
			{% endfor %} 
		</tbody>
		
		
	</table>
		<div class="titre_page footer">
			<h2>
				<a href="{{ path('imprimer_client_impaye') }}" class="btn btn-primary">Imprimer la liste</a>
			</h2>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script>

		 $(document).ready(function() {
            var table = $('#tab_client_heb').DataTable({
                "language": {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucun élément correspondant trouvé",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    }
				},
				"columnDefs": [{
               "targets": 'no-sort',
               "orderable": false
		   }],
		   
                responsive: true,
                scrollY: false, // raha scrollena de asina val ex 400
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                autoFill: true
            });

            new $.fn.dataTable.FixedHeader(table);
        });
	
	</script>
{% endblock %}
