
	<div class="titre_page">
		<h2>Liste des clients présents</h2>
	</div>

	<div class="tableau tab_historique">
		<table class="display" id="tab_client_heb" style="width:100%">
			<thead>
				<tr>
					<td>
						<span>CLIENT</span>
					</td>
					<td>
						<span>CLIENT DE</span>
					</td>
					<td>
						<span>DETAIL DU PAIEMENT</span>
					</td>
					<td>
						<span>POINTAGES</span>
					</td>
					<td>
						<span>ACTIONS</span>
					</td>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td class="td-check">
							<span>Matricule : </span>
							<span class="unite">{{ item.matricule }}</span>
							<br>
							<span>Nom et prénom : </span>
							<span>{{ item.nom }}</span>
							<span>{% if item.prenom is defined %}
								{{ item.prenom }}
							{% endif %}</span>
							<br>
							<span>Budget : </span>
							<span class="unite">{{ item.budget }}</span>
							<br>
							<span>Chapitre : </span>
							<span class="unite">{{ item.chapitre }}</span>
							<br>
							<span>Article : </span>
							<span class="unite">{{ item.article }}</span>

							{% if item.verifier == "oui" %}
								<b class=" check fa fa-check"></b>
							{% else %}
								<b class=" check fa "></b>
							{% endif %}
							<b class=" check check-hide fa fa-check" style="display:none"></b>
						</td>
						<td>
							<span>{{ item.getUser().nom }}</span><br>
							(<span>{{ item.getUser().username }}</span>)
						</td>
						<td>
							<span>Ajouté le : </span><span class="unite">{{ item.getCreatedAt() | date('d-m-Y') }}</span>
							<br>
							<span>N° BL:</span>
							<span class="unite">{{ item.getNumeroBl() }}</span>
							<br>
							<span>MONTANT:</span><b class="unite">{{ item.montant }}</b><b class="unite">Ar</b>
							<br>
							<span>MONTANT MENS:</span><b class="unite">{{ item.getMontantMensuel() }}</b><b class="unite">Ar</b>
							<br>
							<span>NBR VERSEMENT:</span><b class="unite">{{ item.getNbrVersement() }}</b><br>
							<span>DATE DE DEBUT:</span><span class="unite">{{ item.getDateDebut() | date('Y-m-d') }}</span>
							<br>
							<span>DATE DE FIN:</span><span class="unite">{{  item.getDatefin() | date('Y-m-d') }}</span>
							
						</td>
						<td>
							<span>
								{% set i = 1 %}
								{% for p in item.pointages %}
								<span>{{ p.getNom() }} </span> /
									{% set i = i + 1 %}
									{% if i % 4 == 0 %}
										<br>
									{% endif %}
									
								{% endfor %}
							
							 </span>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>




