{% extends "base.html.twig" %}
{% block title %}
    clients
{% endblock %}
{% block body %}

<aside class="compteur container-fluid">
	<div class="col-md-6"></div>
	<div class="compteur_content col-md-6 ">
		<div class="details bg-primary">
			<div class="date_du_jour">
				<p>Date du jour:
					<span class="val_date">{{ date_du_jour | date("d-m-Y") }}</span>
				</p>
			</div>
			<div class="total_montant">
				<p>Montant mensuel total du jour:
					<span>{{ mmj }}</span>
					<span>Ariary</span>
				</p>
			</div>
			<div class="total_montant">
				<p>Montant total du jour:
					<span>{{ mj }}</span>
					<span>Ariary</span>
				</p>
			</div>
			<div class="nbr_total_client">
				<p>Nombre total de client du jour:
					<span>{{ nbr_client_jour }}</span>
					<span>client(s)</span>
				</p>
			</div>
		</div>
	</div>
</aside>

<div class="titre_page">
	<h2>Détails de l'enregistrement journalier</h2>
</div>
<div class="tableautab_historique" style="margin-bottom:50px;">
	<table class="table">
		<thead>
			<tr>
				<th>
					<span>Date du jour</span>
				</th>
				<th>
					<span>Matricule du client</span>
				</th>
				<th>
					<span>Numéro BL</span>
				</th>
				<th>
					<span>Montant</span>
				</th>
				<th>
					<span>Montant mensuel</span>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for item in clients_du_jour %}
				<tr>
					<td>
						<span class="date_du_jour">
							{{ date_du_jour | date('d-m-Y') }}
						</span>
					</td>
					<td>
						<span class="matricule_client">
							{{ item.matricule }}</span>
					</td>
					<td>
						<span class="numero_bl">
							{{ item.numero_bl | raw }}</span>
					</td>
					<td>
						<sapn class="montant_client">{{ item.montant }}</sapn>
						<span style="margin-left:5px;">Ar</span>
					</td>
					<td>
						<sapn class="montant_mens_client">{{ item.montant_mensuel }}</sapn>
						<span style="margin-left:5px;">Ar</span>
					</td>
					<td>
						<sapn class="nbr_versement_client">{{ item.nbr_versement }}</sapn>
					</td>
					<td>
						<span class="date_debut">
							{{ item.date_debut | date('d-m-Y') }}</span>
					</td>
					<td>
						<span class="date_fin">
							{{ item.date_fin | date('d-m-Y') }}</span>
					</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					<b> Montant total: </b>
				</td>
				<td style="text-align:start;">
					<b>{{ mj }}</b><b class="unite">Ar</b>
				</td>
				<td colspan="4"></td>
			</tr>
			<tr>
				<td colspan="4">
					<b> Montant Mensuel total : </b>
				</td>
				<td style="text-align:start;">
					<b>{{ mmj }}</b><b class="unite">Ar</b>
				</td>
				<td colspan="3"></td>
			</tr>
			<tr>
				<td colspan="8"></td>
			</tr>
		</tfoot>
	</table>

</div>



<div class="titre_page">
	<h2>Liste de {{ nom_user }}</h2>
</div>

<div class="tableau tab_historique">
	<table class="display" id="tab_client_heb" style="width:100%">
		<thead>
			<tr>
				<td>
					<span>MATRICULE</span>
				</td>
				<td>
					<span>NOM ET PRENOM</span>
				</td>
				<td>
					<span>NUMERO BL</span>
				</td>
				<td>
					<span>MONTANT</span>
				</td>
				<td>
					<span>MONTANT
						<br>
						MENSUEL</span>
				</td>
				<td>
					<span>DATE D'AJOUT</span>
				</td>
				<td>
					<span>ACTIONS</span>
				</td>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td class="td-check">
						<span>{{ item.matricule }}</span>
						{% if item.verifier == "oui" %}
							<b class=" check fa fa-check"></b>
						{% else %}
							<b class=" check fa "></b>
						{% endif %}
						<b class=" check check-hide fa fa-check" style="display:none"></b>
					</td>
					<td>
						<span>{{ item.nom }}</span><br>
						<span>{{  item.prenom }}</span>
					</td>
					<td>
						<span>{{ item.getNumeroBL() }}</span>
					</td>
					<td>
						<span>{{ item.montant }}</span>
						<span>Ar</span>
					</td>
					<td>
						<span>{{ item.getMontantMensuel() }}</span>
						<span>Ar</span>
					</td>
					<td>
						<span>{{ item.getCreatedAt() | date('Y-m-d') }}</span>
					</td>
					<td>
						<div class="action">
								<div>
									<a href="{{ path("edit_client", {"id": item.id }) }}" class="modif btn btn-info btn-xs" {% if is_granted("ROLE_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
										<span class="fa fa-edit"></span>
									</a>
									<a href="#" data-id-client = "{{ item.id }}" class="suppr btn btn-danger btn-xs" {% if is_granted("ROLE_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
										<span class="fa fa-trash-o"></span>
									</a>
								</div>
								<div>
									<a href="#" data-id-client = "{{ item.id }}" class="verifier btn btn-primary btn-xs" {% if is_granted("ROLE_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
										<span class = "fa fa-check-square-o"></span>
									</a>
									<a href="{{ path('single_page', {'id_client': item.id }) }}" class="voir btn btn-primary btn-xs" {% if is_granted("ROLE_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
										<span>Voir</span>
									</a>
								</div>
							</div>
					</td>

				</tr>
			{% endfor %} 
		</tbody>
		
		
	</table>
	<div class="div_footer_tab">
		<div>
			<div>
				<span>Total montant mensuel : </span><span>{{ mm }}</span><span class="unite">Ar</span>
			</div>
			<div>
				<span>Total montant : </span><span>{{ m }}</span><span class="unite">Ar</span>
			</div>
		</div>
	</div>
</div>




{% endblock %}
{% block javascripts %}
	<script>

		 $(document).ready(function() {
            var table = $('#tab_client_heb').DataTable({
                "language": {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucun élément correspondant trouvé",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    }
                },
                responsive: true,
                scrollY: false, // raha scrollena de asina val ex 400
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                autoFill: true
            });

			new $.fn.dataTable.FixedHeader(table);
			
			// modal 

			// verification 

			$("tbody").on('click', ".verifier", function(e){
				e.preventDefault()
				var id_client = $(this).attr('data-id-client');
				var tr = $(this).parent().parent().parent().parent();
				var string = "";
				$.ajax({
					url : "/admin/verifier/"+id_client,
					type : "GET",
					success : function(response){
						if(response=="ok"){
							tr.children('.td-check').children(".check-hide").show();
						}
					},
					error : function(){
						alert('erreur ajax');
					}
					
				})
			})


        });
	
	</script>
{% endblock %}
