{% extends "base.html.twig" %}
{% block title %}
    Register client
{% endblock %}
{% block body %}

<aside class="compteur container-fluid">
    <div class="col-md-6"> </div>
    <div class="compteur_content col-md-6 ">
        <div class="details bg-primary">
            <div class="date_du_jour">
            <p>Date du jour: <span class="val_date">{{ date_du_jour | date("d-m-Y") }}</span></p>
        </div>
        <div class="total_montant">
            <p>Montant mensuel total du jour: <span>{{ mmj }}</span><span>Ariary</span></p>
        </div>
		<div class="total_montant">
				<p>Montant total du jour:
					<span>{{ mj }}</span>
					<span>Ariary</span>
				</p>
			</div>
        <div class="nbr_total_client">
            <p>Nombre total de client du jour: <span>{{ nbr_client_jour }}</span><span>client(s)</span></p>
        </div>
        </div>
    </div>
</aside>

<div class="titre_page">
	<a href="{{ path('register_client') }}" class="btn btn-primary btn-md"><span style="margin-right:5px;" class="fa fa-plus"></span class="unite">Nouveau client</a>
</div>


<div class="titre_page">
	<h2>Enregistrement de client</h2>
</div>
    {{ form_start(form) }}
    <div class ="row">
        <div class="col-md-4">
            <div class="form-group form_file" 
				{% if misy == "oui" %}
					style="display:none;"
				{% else %}
					style="display:block;"
				{% endif %}
			>
                {{ form_row(form.createdAt, {
                    "label" : "Date du jour: "
                }) }}
            </div>
		    <div class="form-group form_matricule">
                {{ form_row(form.matricule, {
                    'label':"Matricule du client:"
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.nom, {
                    'label':"Nom du client:"
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.prenom, {
                    'label':"Prénom du client (facultatif):"
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.adresse , {
                    'label':"Adresse exacte du client:"
                }) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_row(form.cin, {
                    'label':"Numéro CIN:"
                }) }}
            </div>
           <div class="form-group form_file" 
		   			{% if misy == "oui" %}
					style="display:none;"
				{% else %}
					style="display:block;"
				{% endif %}
		   >
				{{ form_row(form.image_1, {
					'label':"Face avant du CIN:"
				}) }}
				
			</div>
			<div class="form-group form_file" 
				{% if misy == "oui" %}
					style="display:none;"
				{% else %}
					style="display:block;"
				{% endif %}
			>
				{{ form_row(form.image_2, {
					'label':"Face arrière du CIN:"
				}) }}
			</div>
        </div>
         <div class="col-md-4">
            <div class="form-group">
                {{ form_row(form.montant, {
                    "label" : "Montant total:"
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.montant_mensuel, {
                    "label" : "Montant mensuel:"
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.nbr_versement, {
                    "label" : "Nombre de versement:"
                }) }}
            </div>
			 <div class="form-group">
                {{ form_row(form.numero_bl, {
                    "label" : "Numéro de bon de livraison (BL):"
                }) }}
            </div>
             <div class="form-group">
                {{ form_row(form.date_debut, {
                    "label" : "Date de début du paiement:"
                }) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="titre_page">
        <h2>Enregistrement journalier</h2>
    </div>
    <div class="tableautab_historique" style="margin-bottom:50px;">
        <table class="table">
		<thead>
			<tr>
				<th>
					<span>Date du jour</span>
				</th>
				<th>
					<span>Matricule du client</span>
				</th>
				<th>
					<span>Numéro BL</span>
				</th>
				<th>
					<span>Montant</span>
				</th>
				<th>
					<span>Montant mensuel</span>
				</th>
				<th>
					<span>Nbr. Versement</span>
				</th>
				<th><sapn>Date de debut</sapn></th>
				<th><sapn>Date de fin</sapn></th>
			</tr>
		</thead>
		<tbody>
			{% for item in clients_du_jour %}
				<tr>
					<td>
						<span class="date_du_jour">
							{{ date_du_jour | date('d-m-Y') }}
						</span>
					</td>
					<td>
						<span class="matricule_client">
							{{ item.matricule }}</span>
					</td>
					<td>
						<span class="numero_bl">
							{{ item.getNumeroBl() | raw }}</span>
					</td>
					<td>
						<sapn class="montant_client">{{ item.montant }}</sapn>
						<span style="margin-left:5px;">Ar</span>
					</td>
					<td>
						<sapn class="montant_mens_client">{{ item.getMontantMensuel() }}</sapn>
						<span style="margin-left:5px;">Ar</span>
					</td>
					<td>
						<sapn class="nbr_versement_client">{{ item.getNbrVersement() }}</sapn>
					</td>
					<td>
						<span class="date_debut">
							{{ item.getDateDebut() | date('d-m-Y') }}</span>
					</td>
					<td>
						<span class="date_fin">
							{{ item.getDateFin() | date('d-m-Y') }}</span>
					</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					<b> Montant total: </b>
				</td>
				<td style="text-align:start;">
					<b>{{ mj }}</b><b class="unite">Ar</b>
				</td>
				<td colspan="4"></td>
			</tr>
			<tr>
				<td colspan="4">
					<b> Montant Mensuel total : </b>
				</td>
				<td style="text-align:start;">
					<b>{{ mmj }}</b><b class="unite">Ar</b>
				</td>
				<td colspan="3"></td>
			</tr>
			<tr>
				<td colspan="8"></td>
			</tr>
		</tfoot>
	</table>

    </div>
	<div class="titre_page">
		<a href="{{ path('liste_client_de_user', {'user_id' : app.user.id }) }}" class="btn btn-primary btn-md">Afficher tous</a>
    </div>

</div>


{% endblock %}
{% block javascripts %}
	<script>

		 $(document).ready(function() {
            var table = $('#tab_client_heb').DataTable({
                "language": {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucun élément correspondant trouvé",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    }
				},
				"columnDefs": [{
					"targets": 'no-sort',
					"orderable": false
				}],
                responsive: true,
                scrollY: false, // raha scrollena de asina val ex 400
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                autoFill: true
            });

			new $.fn.dataTable.FixedHeader(table);

			


        });
	
	</script>
{% endblock %}
