{% extends "base.html.twig" %}
{% block title %}
    Register client
{% endblock %}
{% block body %}

<aside class="compteur container-fluid">
    <div class="col-md-6"> </div>
    <div class="compteur_content col-md-6 ">
        <div class="details bg-primary">
            <div class="date_du_jour">
            <p>Date du jour: <span class="val_date">{{ date_du_jour | date("d-m-Y") }}</span></p>
        </div>
        <div class="total_montant">
            <p>Montant mensuel total du jour: <span>{{ mmj }}</span><span>Ariary</span></p>
        </div>
		<div class="total_montant">
				<p>Montant total du jour:
					<span>{{ mj }}</span>
					<span>Ariary</span>
				</p>
			</div>
        <div class="nbr_total_client">
            <p>Nombre total de client du jour: <span>{{ nbr_client_jour }}</span><span>client(s)</span></p>
        </div>
        </div>
    </div>
</aside>

<div class="titre_page">
	<a href="{{ path('register_client') }}" class="btn btn-primary btn-md"><span style="margin-right:5px;" class="fa fa-plus"></span class="unite">Nouveau client</a>
</div>


<div class="titre_page">
	<h2>Enregistrement de client</h2>
</div>
    {{ form_start(form) }}
    <div class ="row">
        <div class="col-md-4">

			{% if misy == "non" %}
				<div class="form-group">
					 {{ form_row(form.createdAt, {
                    "label" : "Date du jour: "
                }) }}
				</div>
				<div class="form-group form_file">
					{{ form_row(form.image_1, {
									'label':"Face avant du CIN:"
								}) }}

				</div>
				<div class="form-group form_file">
					{{ form_row(form.image_2, {
									'label':"Face arrière du CIN:"
								}) }}
				</div>

			{% endif %}
            <div class="form-group">
                {{ form_row(form.cin, {
                    'label':"Numéro CIN:"
                }) }}
            </div>
			 <div class="form-group">
                {{ form_row(form.adresse , {
                    'label':"Adresse exacte du client:"
                }) }}
            </div>
        </div>
        <div class="col-md-4">
		 	<div class="form-group form_matricule">
                {{ form_row(form.matricule, {
                    'label':"Matricule du client:"
                }) }}
            </div>
			<div class="form-group">
                {{ form_row(form.nom, {
                    'label':"Nom du client:"
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.prenom, {
                    'label':"Prénom du client (facultatif):"
                }) }}
            </div>
           
			<div class="form-group ">
                {{ form_row(form.budget, {
                    'label':"Budget du client:"
                }) }}
            </div>
			<div class="form-group ">
                {{ form_row(form.chapitre, {
                    'label':"Chapitre du client:"
                }) }}
            </div>
			<div class="form-group ">
                {{ form_row(form.article, {
                    'label':"Article du client:"
                }) }}
            </div>
           
			
        </div>
         <div class="col-md-4">
            <div class="form-group">
                {{ form_row(form.montant, {
                    "label" : "Montant total:"
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.montant_mensuel, {
                    "label" : "Montant mensuel:"
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.nbr_versement, {
                    "label" : "Nombre de versement:"
                }) }}
            </div>
			 <div class="form-group">
                {{ form_row(form.numero_bl, {
                    "label" : "Numéro de bon de livraison (BL):"
                }) }}
            </div>
             <div class="form-group">
                {{ form_row(form.date_debut, {
                    "label" : "Date de début du paiement:"
                }) }}
            </div>
			{% if is_granted("ROLE_ADMIN") %}
				<div class="form-group">
					<label for="">client de : </label>
					<select name="user_client" id="user_client">
						{% for u in users %}
							<option value="{{ u.id }}">{{ u.nom }}</option>
						{% endfor %}
					</select>
				</div>
			{% endif %}
			 <div class="form-group">
               <button type="submit" class="btn btn-primary btn-md">Enregistrer</button>
            </div>

        </div>
    </div>
    {{ form_end(form) }}

    <div class="titre_page">
        <h2>Enregistrement journalier</h2>
    </div>
    <div class="tableautab_historique" style="margin-bottom:50px;">
        <table class="table">
		<thead>
			<tr>
				<th>
					<span>Date du jour</span>
				</th>
				<th>
					<span>Client</span>
				</th>
				<th>
					<span>Montant</span>
				</th>
				<th>
					<span>Montant mensuel</span>
				</th>
				<th><sapn>Actions</sapn></th>
			</tr>
		</thead>
		<tbody>
			{% for item in clients_du_jour %}
				<tr>
					<td>
						<span class="date_du_jour">
							{{ date_du_jour | date('d-m-Y') }}
						</span>
						{% if item.verifier == "oui" %}
								<b class=" check fa fa-check"></b>
							{% else %}
								<b class=" check fa "></b>
							{% endif %}
							<b class=" check check-hide fa fa-check" style="display:none"></b>
					</td>
					<td>
						<span>Matricule : </span>
							<span class="unite">{{ item.matricule }}</span>
							<br>
							<span>Nom et prénom : </span>
							<span>{{ item.nom }}</span>
							<span>{% if item.prenom is defined %}
								{{ item.prenom }}
							{% endif %}</span>
							<br>
							<span>Budget : </span>
							<span class="unite">{{ item.budget }}</span>
							<br>
							<span>Chapitre : </span>
							<span class="unite">{{ item.chapitre }}</span>
							<br>
							<span>Article : </span>
							<span class="unite">{{ item.article }}</span>
							<br>
							<span>Date de début : </span>
							<span>{{ item.getDateDebut() | date('d-m-Y') }}</span>
							<br>
							<span>Date de fin : </span>
							<span>{{ item.getDateFin() | date('d-m-Y')}}</span>
							<br>
							<span>nombre de versement : </span>
							<span>{{ item.getNbrVersement() }}</span>
							<br>
							<span>Numero BL : </span>
							<span>{{ item.getNumeroBl() }}</span>
							

					</td>
					<td>
						<sapn class="montant_client">{{ item.montant }}</sapn>
						<span style="margin-left:5px;">Ar</span>
					</td>
					<td>
						<sapn class="montant_mens_client">{{ item.getMontantMensuel() }}</sapn>
						<span style="margin-left:5px;">Ar</span>
					</td>
					<td>
						<div class="action">
							<div>
								<a href="{{ path("edit_client", {"id": item.id }) }}" class="modif btn btn-info btn-xs" {% if is_granted("ROLE_SUPER_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
									<span class="fa fa-edit"></span>
								</a>
								<a href="#" data-id-client = "{{ item.id }}" class="suppr btn btn-danger btn-xs" {% if is_granted("ROLE_SUPER_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
									<span class="fa fa-trash-o"></span>
								</a>
							</div>
							<div>
								<a href="#" data-id-client = "{{ item.id }}" class="verifier btn btn-primary btn-xs" {% if is_granted("ROLE_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
									<span class = "fa fa-check-square-o"></span>
								</a>
								<a href="{{ path('single_page', {'id_client': item.id }) }}" class="voir btn btn-primary btn-xs" {% if is_granted("ROLE_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
									<span>Voir</span>
								</a>
							</div>
							<div class="div__pointer">
									<a href="{{ path('autrepointage', {'id_client': item.id }) }}" data-id-client="{{ item.id }}" class=" btn btn-primary btn-xs" {% if is_granted("ROLE_ADMIN") %} style="display:flex;" {% else %} style="display:none;" {% endif %}>
										<span>Pointer</span>
										<span class="fa fa-check"></span>
									</a>
								</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">
					<b> Montant total: </b>
				</td>
				<td style="text-align:start;">
					<b>{{ mj }}</b><b class="unite">Ar</b>
				</td>
				<td colspan="3"></td>
				
			</tr>
			<tr>
				<td colspan="3">
					<b> Montant Mensuel total : </b>
				</td>
				<td style="text-align:start;">
					<b>{{ mmj }}</b><b class="unite">Ar</b>
				</td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td colspan="5"></td>
			</tr>
		</tfoot>
	</table>

    </div>
	<div class="titre_page">
		<a href="{{ path('liste_client_de_user', {'user_id' : app.user.id }) }}" class="btn btn-primary btn-md">Afficher tous</a>
    </div>

</div>


{% endblock %}
{% block javascripts %}
	<script>

		 $(document).ready(function() {
            var table = $('#tab_client_heb').DataTable({
                "language": {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucun élément correspondant trouvé",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    }
				},
				"columnDefs": [{
					"targets": 'no-sort',
					"orderable": false
				}],
                responsive: true,
                scrollY: false, // raha scrollena de asina val ex 400
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                autoFill: true
            });

			new $.fn.dataTable.FixedHeader(table);
			
			$("tbody").on('click', ".verifier", function(e){
				e.preventDefault()
				var id_client = $(this).attr('data-id-client');
				var tr = $(this).parent().parent().parent().parent();
				var string = "";
				$.ajax({
					url : "/admin/verifier/"+id_client,
					type : "GET",
					success : function(response){
						if(response=="ok"){
							tr.children('.td-check').children(".check-hide").show();
						}
					},
					error : function(){
						alert('erreur ajax');
					}
					
				})
			})
			


        });
	
	</script>
{% endblock %}
